:global{
    .ant-layout-has-sider{
        height: 100%;
        box-sizing: border-box;
    }
    .layout_container{
        // height: calc(100% - 60px);
        // height: 100%;
        box-sizing: border-box;
        .nav-text{
            display: inline-block;
            width: 80%;
            a{
                display: inline-block;
                width: 100%;
                color: #efefef;
            }
        }
    }
}